<div class="page-content" data-block="dogs">
<%= raw Block.where(key: "dogs").first[:content]  %>
</div>
<% if current_user %>
<!--<button class="edit-content button">Edit Content</button>--><button class="save-content button is-link">Save</button>
<% end %>
<style>
  .image div{
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center center;
  }
  .image a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
</style>
<div class="petfinder-dogs has-text-centered"> 
    <% @petfinder_dogs["petfinder"]["pets"]["pet"].reverse.each_slice(4) do |pets| %>
    <div class="columns">
    <% pets.each do |pet| %>
      <div class="column is-one-quarter">
        <a href="/dog/<%= pet["id"]["$t"] %>" data-lity style="background-image:url(<%= pet["media"]["photos"]["photo"].select { |photo| photo["@size"] == "pn" || photo["@size"] == "x" }.first["$t"] %>}">
          <span class="name"><%= pet["name"]["$t"] %></span>
        </a>
      </div>
    <% end %>
    </div>
    <% end %>
  </div>