<div class="page-content" data-block="contact">
<%= raw Block.where(key: "contact").first[:content]  %>
</div>
<% if current_user %>
<!--<button class="edit-content button">Edit Content</button>--><button class="save-content button is-link">Save</button>
<% end %>