<%= render partial: "shared/nav", locals: { css_class: "is-transparent", logo:false } %>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        &copy; <%= Date.today.year %> <strong>Pups In Peril</strong>
      </p>
      <p class="is-size-7">
        built by <a href="http://ry4n.io">Ryan Olson</a>.
      </p>
    </div>
  </div>
</footer>